.backgroundCard {
  background: rgba(119, 136, 153, 0.5);
  border-radius: 20px;
  padding: 40px;
}

.fallback {
  text-decoration: none;
  color: white;
  background-color: inherit;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fallback:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.fallback:hover {
  background: rgba(255, 255, 255, 0);
}
.fallback:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.title {
  font-size: 40px;
  color: #a9a9a9;
}

@media screen and (max-width: 430px) {
  .backgroundCard {
    padding: 10px;
  }

  .title {
    font-size: 25px;
  }
  .fallback {
    margin: 10px 9px;
  }
}
