.container {
  width: auto;
  text-align: center;
  position: relative;
}
input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  color: red;
  border: 2px solid #324b4e;
  background: #dcdcdc;
  outline: none;
  transition: 0.3s linear;
}
input:focus {
  width: 300px;
}
.search {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: 4px;
  right: 670px;
  cursor: pointer;
  transition: 0.3s linear;
}

input:focus ~ .search {
  right: 645px;
}
