.filmItem {
  background-color: #778899;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  list-style: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.filmItem:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.titleFilm {
  font-size: 20px;
  color: aliceblue;
  max-width: 400px;
  text-align: center;
}

.itemsLink {
  text-decoration: none;
}

.filmImages {
  width: 400px;
  height: 600px;
}
