.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.cast_photo {
  width: 320px;
  height: 450px;
}

.text {
  color: #a9a9a9;
}

.cast_item {
  background-color: #000000;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 10px;
}
