.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.cast_photo {
  width: 320px;
  height: 450px;
}

.text {
  color: #a9a9a9;
}

.cast_item {
  background-color: #000000;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 10px;
}

@media screen and (max-width: 790px) {
  .list {
    justify-content: center;
  }
}

@media screen and (max-width: 430px) {
  .cast_item {
    width: 80%;
    height: auto;
  }

  .cast_photo {
    width: 100%;
    height: auto;
  }
}
