.pageTitle {
  font-size: 40px;
  text-align: center;
  color: #a9a9a9;
}

.listFilms {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

.loadMore {
  text-decoration: none;
  width: 200px;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: inherit;
}

.loadMore:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.loadMore:hover {
  background: rgba(255, 255, 255, 0);
}
.loadMore:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.buttonDiv {
  text-align: center;
  padding: 30px;
}

@media screen and (max-width: 870px) {
  .listFilms {
    justify-content: center;
  }
}
