.arrangement {
  display: flex;
}

.main_title {
  font-size: 40px;
  font-weight: 900;
  color: #a9a9a9;
}

.left_section {
  margin-right: 50px;
}

.right_section {
  padding-top: 70px;
}

.title {
  font-size: 40px;
  color: #a9a9a9;
}

.text {
  color: #a9a9a9;
  font-size: 25px;
}

.list {
  padding-left: 20px;
}

@media screen and (max-width: 950px) {
  .arrangement {
    display: block;
  }
  .right_section {
    padding-top: 0px;
  }
}

@media screen and (max-width: 630px) {
  .mainPhoto {
    width: 100%;
    height: auto;
  }
  .left_section {
    margin-right: 0px;
  }
}

@media screen and (max-width: 430px) {
  .main_title {
    font-size: 25px;
  }

  .title {
    font-size: 25px;
  }

  .text {
    font-size: 20px;
  }
}
